<div class="container">

  <div class="starter-template">
    <h1>Server list</h1>
    <table width="100%">
      <tr>
        <td>Name</td>
        <td>IP</td>
        <td>Last Heartbeat</td>
        <td>Uptime</td>
        <td>CPU Usage</td>
        <td>Memory Usage</td>
      </tr>

      <% @servers.each do |server| %>
          <tr>
            <td><%= server.name %></td>
            <td><%= server.ip %></td>
            <td><%= server.last_heartbeat ? server.last_heartbeat : 'None' %></td>
            <td><%= server.heartbeats.size > 0 ? server.heartbeats.last.uptime : 'None' %></td>
            <td><%= server.heartbeats.size > 0 ? server.heartbeats.last.cpu_usage : 'None' %></td>
            <td><%= server.heartbeats.size > 0 ? (server.heartbeats.last.mem_used.to_f / server.heartbeats.last.mem_total.to_f).round(3) * 100 : 'Unknown' %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
