<div class="container">
  <div class="starter-template">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Server</th>
        <th>Subject</th>
        <th>Created</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @messages.each do |message| %>
          <tr class="unhider" id="<%= message.id %>" style="cursor: pointer;">
            <td><%= message.system.name %></td>
            <td><%= message.subject %></td>
            <td><%= message.created_at %></td>
            <td>
              <%= link_to message, method: :delete, data: {confirm:'Are you sure you want to remove this?'} do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
          <tr id="message_<%= message.id %>" style="display: none">
            <td colspan="4"><%= simple_format(message.body) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

