<div class="container">

  <div class="starter-template">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Last Heartbeat</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @servers.each do |server| %>
          <tr>
            <td><%= server.name %></td>
            <td><%= server.ip %></td>
            <td><%= server.last_heartbeat ? server.last_heartbeat : 'None' %></td>
            <td>
              <%= link_to edit_server_path(server) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
              <% end %>

              <%= link_to server_path(server), method: :delete do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
