<div class="container">
  <div class="starter-template">
    <%= button_to 'New System', new_system_path, method: :get, class: 'btn btn-default' %>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Last Heartbeat</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @systems.each do |system| %>
          <tr>
            <td><%= system.name %></td>
            <td><%= system.ip %></td>
            <td><%= system.last_heartbeat ? system.last_heartbeat : 'None' %></td>
            <td>
              <%= link_to edit_system_path(system) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
              <% end %>

              <%= link_to system_path(system), method: :delete, data: {confirm: 'Are you sure?'}  do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
